<html>

<head>
    <title>Student complete</title>
</head>

<body>
    <h1>Welcome,
        <%= data.user_name %>
        <%= data.user_surname %> , you succesfully registered with Email:
        <%= data.user_email %>.
    </h1>
        
</body>
</html>