<html>

<head>
    <title>Student</title>

</head>

<body>
    <div>
        <form action="/register" method="POST">
            <label class="col-sm-2 col-form-label">Name: </label>
            <input type="text" class="form-control" name="user_name" placeholder="Enter Name" required>

            <label class="col-sm-2 col-form-label">Surname: </label>
            <input type="text" class="form-control" name="user_surname" placeholder="Enter Surname" required>
    
            <label class="col-sm-2 col-form-label">Email: </label>
            <input type="email" class="form-control" name="user_email" placeholder="Enter E-mail" required>
        
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>